div#menu
  table
    tr
      td#menu
        a(href='nfd/status') NFD Status
      td#menu
        a(href='faces/channels') Faces Channels
      td#menu
        a(href='faces/list') Faces list
      td#menu
        a(href='fib/list') Fib
      td#menu
        a(href='rib/list') Rib
      td#menu
        a(href='strategy/list') Strategy choice
