table
  thead
    td NFD ID
    td Version
    td Start Time
    td Current Time
    td UP Time
    td Name Tree Entry
    td FIB Entries
    td PIT Entries
    td Measurements entries
    td CS entries
    td In Interests
    td Out Interests
    td In Data
    td Out Data
  - each nfd in nfdData
    tr
      td nfd["nfdid"]
